<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- 对应的 Mapper 的地址 -->
<mapper namespace="com.taotao.search.mapper.SearchItemMapper" >
    <!-- 写一个查询。 select -->
    <!-- 参数 id,方法名。 parameterType,参数类型。 resultType,返回类型 -->
    <select id="getItemList" resultType="com.taotao.common.pojo.SearchItem">
		SELECT
			a.id,
			a.title,
			a.sell_point,
			a.price,
			a.image,
			b. NAME category_name,
			c.item_desc
		FROM
			tb_item a
		LEFT JOIN tb_item_cat b ON a.cid = b.id
		LEFT JOIN tb_item_desc c ON a.id = c.item_id
		WHERE
			a.`status` = 1
    </select>

    <!-- 再添加一个查询方法 -->
    <select id="getItemById" parameterType="long" resultType="com.taotao.common.pojo.SearchItem">
        SELECT
            a.id,
            a.title,
            a.sell_point,
            a.price,
            a.image,
            b. NAME category_name,
            c.item_desc
        FROM
          tb_item a
        LEFT JOIN tb_item_cat b ON a.cid = b.id
        LEFT JOIN tb_item_desc c ON a.id = c.item_id
        WHERE
          a.`status` = 1
          AND
          a.id = #{itemId}

    </select>
</mapper>